:root {
  --chat-width: 350px;
  --gap: 10px;
  --bg-bgc: $bg-bgc;
  --fg-bgc: $fg-bgc;
  color: white;
  font-family: monospace;
}

@media (max-width: 600px) {
  body {
    height: 100vh !important;
    width: 100vw !important;
  }
  body #main {
    grid-template-columns: none;
    grid-template-rows: auto 1fr;
    padding: 0;
    gap: 1px;
  }
  body #main #player-wrapper #player iframe {
    aspect-ratio: 16/9;
  }
  body #main #chat-wrapper {
    width: 100%;
    grid-template-rows: calc(30px + var(--gap) * 2) 1fr;
    gap: 1px;
  }
  body #main #chat-wrapper #input {
    grid-row: 1;
  }
  body #main #chat-wrapper #messages {
    flex-direction: column-reverse;
  }
  body #main #chat-wrapper #messages .message {
    border-top: none;
    border-bottom: solid 2px #101b2b;
  }
}
body {
  height: calc(100vh - var(--gap) * 2);
  width: calc(100vw - var(--gap) * 2);
  margin: 0;
  overflow: hidden;
}
body.disconnected .message > * {
  filter: brightness(0.5);
}

input[disabled],
button[disabled] {
  filter: contrast(0.5) brightness(0.5) saturate(0.5);
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #086bff;
  border: 3px solid #3b89ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input {
  box-sizing: border-box;
  border: solid 1px #242424;
  background-color: #0d0d0d;
  padding: 5px;
  color: white;
}
input:focus-visible {
  outline: none;
  border-color: #575757;
}

#main {
  height: 100%;
  width: 100%;
  max-height: calc(100vh - var(--gap) * 2);
  display: grid;
  grid-template-columns: 1fr var(--chat-width);
  gap: var(--gap);
  background-color: rgb(30, 50, 80);
  padding: var(--gap);
}
#main > div {
  height: 100%;
  width: 100%;
}
#main #chat-wrapper {
  width: var(--chat-width);
  height: 100%;
  max-height: calc(100vh - var(--gap) * 2);
  border: 0;
  display: grid;
  grid-template-rows: 1fr calc(30px + var(--gap) * 2);
  gap: var(--gap);
}
#main #chat-wrapper > div {
  background-color: rgb(10, 10, 10);
}
#main #chat-wrapper #messages {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  counter-set: messages;
  overflow-y: overlay;
  background-color: rgb(10, 10, 10);
}
#main #chat-wrapper #messages .message {
  padding: var(--gap);
  padding-right: calc(10px + var(--gap));
  border-top: solid 2px #101b2b;
  counter-increment: messages;
}
#main #chat-wrapper #messages .message.sysmsg {
  color: rgb(247, 238, 125);
  text-align: center;
}
#main #chat-wrapper #messages .message .username {
  font-weight: bold;
  color: rgb(0, 183, 255);
}
#main #chat-wrapper #input {
  padding: var(--gap);
  display: grid;
  grid-template-columns: 1fr 30px;
  gap: var(--gap);
  background-color: rgb(10, 10, 10);
}
#main #chat-wrapper #input input {
  height: 100%;
  width: 100%;
}
#main #chat-wrapper #input input[placeholder="Set a username"] {
  border-color: orange !important;
}
#main #chat-wrapper #input button {
  height: 30px;
  width: 30px;
  font-size: 1.4em;
}
#main #player-wrapper {
  display: grid;
  grid-template-rows: auto 100px;
  background-color: rgb(10, 10, 10);
}
#main #player-wrapper #player {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main #player-wrapper #player iframe {
  height: 100%;
  width: 100%;
  border: none;
}
#main #controls {
  display: grid;
  grid-template-columns: calc(100px - var(--gap) * 2) 1fr;
  gap: var(--gap);
  padding: var(--gap);
}
#main #controls #voteskip-wrapper {
  height: calc(100px - var(--gap) * 2);
  width: calc(100px - var(--gap) * 2);
}
#main #controls #voteskip-wrapper #voteskip {
  height: 100%;
  width: 100%;
  font-size: 50px;
}
#main #controls #request-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#main #controls #request-wrapper > span {
  font-size: 1.5em;
}
#main #controls #request-wrapper > div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--gap);
}

code {
  padding: 0 3px;
  background: rgb(30, 30, 30);
  color: white;
  border: solid 1px rgb(50, 50, 50);
  border-radius: 3px;
}
/*# sourceMappingURL=app.css.map */