@mixin fullsize()
	height: 100%
	width: 100%

$bg-bgc: rgb(30 50 80)
$fg-bgc: rgb(10 10 10)
$primary-color: rgb(8, 100, 255)
$primary-color-darker: darken($primary-color, 20)
$primary-color-lighter: lighten($primary-color, 20)
$controls-size: 100px

:root
	--chat-width: 350px
	--gap: 10px
	--bg-bgc: $bg-bgc
	--fg-bgc: $fg-bgc
	color: white
	font-family: monospace

@media (max-width: 600px)
	body
		height: 100vh !important
		width: 100vw !important
		#main
			grid-template-columns: none
			grid-template-rows: auto 1fr
			padding: 0
			gap: 1px
			max-height: 100vh
			#player-section #player-wrapper iframe
				aspect-ratio: 16/9
			#chat-wrapper
				width: 100%
				grid-template-rows: calc(30px + var(--gap) * 2) 1fr
				gap: 1px
				#input
					grid-row: 1
				#messages
					flex-direction: column-reverse
					.message
						border-top: solid 2px darken($bg-bgc, 10)
						border-bottom: none

body
	height: calc(100vh - var(--gap) * 2)
	width: calc(100vw - var(--gap) * 2)
	margin: 0
	overflow: hidden
	&.disconnected
		.message > *
			filter: brightness(0.5)

input,
button
	&[disabled]
		filter: contrast(0.5) brightness(0.5) saturate(0.5)

button
	appearance: none
	background-color: $primary-color
	background-blend-mode: screen
	border: 0
	box-shadow: inset 0 0 10px 0 $primary-color-darker
	color: white
	display: flex
	align-items: center
	justify-content: center
	cursor: pointer
	transition: filter 100ms ease
	&:hover
		filter: brightness(1.5)

input
	box-sizing: border-box
	border: solid 1px lighten($fg-bgc, 10)
	background-color: lighten($fg-bgc, 1)
	padding: 5px
	color: white

	&:focus-visible
		outline: none
		border-color: lighten($fg-bgc, 30)

#main
	@include fullsize()
	max-height: calc(100vh - var(--gap) * 2)
	display: grid
	grid-template-columns: 1fr var(--chat-width)
	gap: var(--gap)
	background-color: $bg-bgc
	padding: var(--gap)

	> div
		@include fullsize()

	#chat-wrapper
		width: var(--chat-width)
		height: 100%
		max-height: calc(100vh - var(--gap) * 2)
		border: 0
		display: grid
		grid-template-rows: 1fr calc(30px + var(--gap) * 2)
		gap: var(--gap)
		> div
			background-color: $fg-bgc

		#messages
			@include fullsize()
			display: flex
			flex-direction: column
			counter-set: messages
			overflow-y: overlay
			background-color: $fg-bgc

			.message
				padding: var(--gap)
				padding-right: calc(10px + var(--gap))
				border-bottom: solid 2px darken($bg-bgc, 10)
				counter-increment: messages
				&.sysmsg
					color: rgb(247, 238, 125)
					text-align: center
				.username
					font-weight: bold
					color: rgb(0, 183, 255)
				// .content:after
				// 	content: counter(messages)
				// 	margin-left: 10px

		#input
			padding: var(--gap)
			display: grid
			grid-template-columns: 1fr 30px
			gap: var(--gap)
			background-color: $fg-bgc

			input
				@include fullsize()
				&[placeholder='Set a username']
					border-color: orange !important

			button
				height: 30px
				width: 30px
				font-size: 1.4em

	#player-section
		display: grid
		grid-template-rows: auto 12px $controls-size
		background-color: $fg-bgc
		> div:nth-child(2)
			position: relative
			& > div
				width: 50%
				height: 12px
				background-image: linear-gradient(to bottom, transparent, transparent, $primary-color-lighter, transparent, transparent)
				position: absolute
				top: 0

		#volume
			margin: 0
			padding: 0
			height: 12px
			width: 100%
			z-index: 1
			appearance: none
			position: relative
			background-color: transparent
			border-width: 2px 0
			border-color: $bg-bgc
			&::-webkit-slider-runnable-track
				height: 12px
			&::-webkit-slider-thumb
				appearance: none
				height: 12px
				width: 12px
				border-radius: 50%
				background-color: $primary-color
				box-shadow: inset 0 0 3px 0 $primary-color-darker

		#player-wrapper
			display: flex
			align-items: center
			justify-content: center
			> *
				@include fullsize()
			#blocker
				margin-right: -100%
				z-index: 1
				display: flex
				flex-direction: column-reverse
				#progress
					height: 20px
					width: 100%
					background-image: linear-gradient(to top, $primary-color 5px, transparent 5px)
					letter-spacing: -0.6px
					text-align: right

			iframe
				border: none

	#controls
		display: grid
		grid-template-columns: calc($controls-size - var(--gap) * 2) 1fr
		gap: var(--gap)
		padding: var(--gap)

		#voteskip-wrapper
			height: calc($controls-size - var(--gap) * 2)
			width: calc($controls-size - var(--gap) * 2)

			#voteskip
				@include fullsize()
				font-size: 50px
				&.voted
					border-color: darken(rgb(200, 0, 0), 30)
					background-color: rgb(200, 0, 0)

		#request-wrapper
			display: flex
			flex-direction: column
			> span
				@include fullsize()
				display: flex
				justify-content: space-between
				align-items: flex-start
				padding-bottom: var(--gap)
				#video-title
					font-size: 1.5em
					margin: 0 calc(var(--gap) * 2)
					align-self: center
			> div
				width: 100%
				display: grid
				grid-template-columns: 1fr auto
				gap: var(--gap)

code
	padding: 0 3px
	background: rgb(30 30 30)
	color: white
	border: solid 1px rgb(50 50 50)
	border-radius: 3px